doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    // VENDOR CSS
    link(rel='stylesheet', href='../public/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='../public/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='../public/vendor/linearicons/style.css')
    link(rel='stylesheet', href='../public/vendor/chartist/css/chartist-custom.css')
    // MAIN CSS
    link(rel='stylesheet', href='../public/stylesheets/main.css')
    // GOOGLE FONTS
    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=vietnamese', rel='stylesheet')
    // ICONS
    link(rel='apple-touch-icon', sizes='76x76', href='../public/images/favicon.png')
    link(rel='icon', type='image/png', sizes='96x96', href='../public/images/favicon.png')
  body
    #wrapper
      
      block link
          -var selected = '/admin'; //default
      -var menu = [["Dashboard", "fa-dashboard", "/admin"],["System overview", "fa-desktop", "/admin/overview"],["CPU", "fa-microchip", "/admin/cpu"], ["Memory", "fa-building-o", "/admin/memory"], ["Disk", "fa-database", "/admin/disk"], ["Filesystem", "fa-file", "/admin/filesystem"], ["Linux packages", "fa-folder", "/admin/filesystem"], ["Processes", "fa-cogs", "/admin/processes"], ["Network", "fa-wifi", "/admin/network"], ["Linux Firewall", "fa-shield", "/"], ["System User & Group", "fa-users", "/"], ["Web Terminal", "fa-terminal", "/"]]

      //- ["Title", "fa-icon", "link"]
      include partials/nav.pug
          
      include partials/sidebar.pug
      
      // MAIN
      .main
        block content
      //END MAIN
      .clearfix
        footer
          .container-fluid
            p.copyright &copy; 2017 RPiMonSys. All Rights Reserved

    // END WRAPPER
    // Javascript
    script(src="../../public/vendor/jquery/jquery.min.js")
    script(src='../../public/vendor/bootstrap/js/bootstrap.min.js')
    script(src='../../public/js/jquery.timeago.min.js')
    script(src='../../public/js/soundmanager2-jsmin.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.js')
    script(src='../../public/vendor/jquery-slimscroll/jquery.slimscroll.min.js')
    script(src='../../public/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js')
    script(src='../../public/vendor/chartist/js/chartist.min.js')
    script(src='../../public/js/common.js')
    //- script(src='../../public/js/socketProcessor.js')
    script(src='../../public/js/tablefilter.js')
    block scripts
