doctype html
html.fullscreen-bg(lang='en')
  head
    title Login to system
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='resources/stylesheet/bootstrap.min.css')
    link(rel='stylesheet', href='resources/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='resources/vendor/linearicons/style.css')
    link(rel='stylesheet', href='resources/stylesheets/main.css')
    link(rel='stylesheet', href='assresourcesets/stylesheets/demo.css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700', rel='stylesheet')
    link(rel='apple-touch-icon', sizes='76x76', href='resources/image/apple-icon.png')
    link(rel='icon', type='image/png', sizes='96x96', href='resources/image/favicon.png')