doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title} | Raspberry Pi Monitor System
    // CSS
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
    link(rel='stylesheet', href='../public/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='../public/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='../public/vendor/login/css/form-elements.css')
    link(rel='stylesheet', href='../public/vendor/login/css/style.css')
    link(rel='apple-touch-icon', sizes='76x76', href='../public/images/favicon.png')
    link(rel='icon', type='image/png', sizes='96x96', href='../public/images/favicon.png')
  body
    // Top content
    .top-content
      .inner-bg
        .container
          .row
            .col-sm-8.col-sm-offset-2.text
              h1
                strong Raspberry Pi Monitor System
              .description
                p
                  | #{title}
          .row
            .col-sm-6.col-sm-offset-3.form-box
              form.login-form(role='form', action='/login', method='post')
                fieldset
                  .form-top
                    .form-top-left
                      h3 #{title}
                    .form-top-right
                      i.fa.fa-user
                  .form-bottom
                    .form-group
                      label(for='form-username') Username or Email
                      input#form-username.form-username.form-control(type='text', name='usernameOrEmail', placeholder='Username...')
                      
                    .form-group
                      label(for='form-password') Password
                      input#form-password.form-password.form-control(type='password', name='password', placeholder='Password...')
                    .pull-left
                      a.btn.btn-lg.btn-success(href="/register") Đăng ký
                    .pull-right
                      button.btn(type='submit') Login
                    .clearfix
    // Javascript
    script(src='../public/vendor/login/js/jquery-1.11.1.min.js')
    script(src='../public/vendor/bootstrap/js/bootstrap.min.js')
    script(src='../public/vendor/login/js/jquery.backstretch.min.js')
    script(src='../public/vendor/login/js/retina-1.1.0.min.js')
    script(src='../public/vendor/login/js/scripts.js')
