doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title} | Raspberry Pi Monitor System
    // CSS
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
    link(rel='stylesheet', href='../public/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='../public/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='../public/vendor/login/css/form-elements.css')
    link(rel='stylesheet', href='../public/vendor/login/css/style.css')
    link(rel='apple-touch-icon', sizes='76x76', href='../public/images/favicon.png')
    link(rel='icon', type='image/png', sizes='96x96', href='../public/images/favicon.png')
  body
    // Top content
    .top-content
      .inner-bg
        .container
          .row
            .col-sm-8.col-sm-offset-2.text
              h1
                strong Raspberry Pi Monitor System
              .description
                p
                  | #{title}
          .row
            .col-sm-6.col-sm-offset-3.form-box
              form.registration-form(role='form', action='', method='post')
                fieldset
                  .form-top
                    .form-top-left
                      h3 Step 1 / 2
                      p Set up your account:
                    .form-top-right
                      i.fa.fa-key
                  .form-bottom
                    .form-group
                      label(for='form-username') Username
                      input#form-username.form-username.form-control(type='text', name='form-username', placeholder='Username...')
                    .form-group
                      label(for='form-email') Email
                      input#form-email.form-email.form-control(type='text', name='form-email', placeholder='Email...')
                    .form-group
                      label(for='form-password') Password
                      input#form-password.form-password.form-control(type='password', name='form-password', placeholder='Password...')
                    .form-group
                      label(for='form-repeat-password') Repeat password
                      input#form-repeat-password.form-repeat-password.form-control(type='password', name='form-repeat-password', placeholder='Repeat password...')
                    .pull-right
                      button.btn.btn-next(type='button') Next
                    .clearfix
                fieldset
                  .form-top
                    .form-top-left
                      h3 Step 2 / 2
                      p About:
                    .form-top-right
                      i.fa.fa-user
                  .form-bottom
                    .form-group
                      label(for='form-fullname') Full name
                      input#form-fullname.form-fullname.form-control(type='text', name='form-fullname', placeholder='Full name...')
                    .form-group
                      label(for='form-about-yourself') Avatar
                      textarea#form-about-yourself.form-about-yourself.form-control(name='form-about-yourself', placeholder='About yourself...')
                    .pull-right
                      button.btn.btn-previous(type='button') Previous
                      button.btn(type='submit') Create and account
                    .clearfix
    // Javascript
    script(src='../public/vendor/login/js/jquery-1.11.1.min.js')
    script(src='../public/vendor/bootstrap/js/bootstrap.min.js')
    script(src='../public/vendor/login/js/jquery.backstretch.min.js')
    script(src='../public/vendor/login/js/retina-1.1.0.min.js')
    script(src='../public/vendor/login/js/scripts.js')
