nav.navbar.navbar-default.navbar-fixed-top
  .brand
    a(href='/')
      img.img-responsive.logo(src='../public/images/RPiMonSysDarkLogo.png', alt='RPiMonSys Logo')
  .container-fluid
    .navbar-btn
      button.btn-toggle-fullwidth(type='button')
        i.lnr.lnr-menu
    #navbar-menu
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle.icon-menu(href='#', data-toggle='dropdown')
            i.lnr.lnr-alarm
          ul.dropdown-menu.notifications
            //- each item in Notify.list
            //-   li
            //-     a.notification-item(href='/account/notification/#{item.Id}')
            //-       span.dot.bg-warning
            //-       | item.Content

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            img.img-circle(src='#{user.AvatarPath}', alt='Avatar')
            span #{user.Fullname}
            i.icon-submenu.lnr.lnr-chevron-down
          ul.dropdown-menu
            li
              a(href='/account/#{user.Username}')
                i.lnr.lnr-user
                span My Profile
            if currentUser.RoleName == 'Admin'
              li
                a(href='/admin/admin_cp')
                i.lnr.lnr-home
                span AdminCP
            else
              li(display='none')
                a(href='/admin/admin_cp')
                i.lnr.lnr-home
                span AdminCP
            li
              a(href='/account/preferences')
                i.lnr.lnr-cog
                span Preferences
            li
              a(href='/logout')
                i.lnr.lnr-exit
                span Logout