#sidebar-nav.sidebar
  .sidebar-scroll
    nav
      ul.nav
        each val, key in menu
          if selected === val[2]
            li
              a.active(href= val[2], title= val[0])
                i.fa(class= val[1])
                span #{val[0]}
          else
            li
              a(href= val[2], title= val[0])
                i.fa(class= val[1])
                span #{val[0]}
        //- li
        //-   a.collapsed(href='#subPages', data-toggle='collapse')
        //-     i.fa.fa-wifi
        //-     span Network
        //-     i.icon-submenu.lnr.lnr-chevron-left
        //-   #subPages.collapse
        //-     ul.nav
        //-       li
        //-         a(href='#') Interfaces
        //-       li
        //-         a(href='#') Connections
        //-       li
        //-         a(href='#') Traffics