extends ../../layouts/layout.pug

block content

  // MAIN CONTENT
  .main-content
    .container-fluid
      .panel.panel-headline
        .panel-heading
          h3.panel-title
            b CPU Utilization Information
        .panel-body
          .row
            .col-md-12
              .row
                .col-md-9
                  h4.heading
                    b Overall Utilization
                  #cpu-usage-chart.ct-chart
                .col-md-3
                  .weekly-summary.text-right.bottom
                    span.number 203
                    span.info-label Processes
                  .weekly-summary.text-right.bottom
                    span.number 16%
                    span.info-label CPU Utilize
                  .weekly-summary.text-right.bottom
                    span.number 4
                    span.info-label Logical Processors
              .row
                .col-md-9
                  h4.heading
                    b Logical Processors
                  .row
                    .col-md-3
                      #cpu-core-1.ct-chart
                    .col-md-3
                      #cpu-core-2.ct-chart
                    .col-md-3
                      #cpu-core-3.ct-chart
                    .col-md-3
                      #cpu-core-4.ct-chart
block scripts
  script.
    $(function() {
        var cpu_usage, options;
        cpu_usage = {
            labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
            series: [
                [23, 29, 24, 40, 25, 24, 35, 12, 35]
            ]
        };

        options = {
            height: 300,
            showArea: true,
            showLine: false,
            showPoint: false,
            fullWidth: true,
            low: 0,
            high: 100,
            axisX: {
                showGrid: false
            },
            axisY: {
                showGrid: false
            },
            lineSmooth: false,
        };

        new Chartist.Line("#cpu-usage-chart", cpu_usage, options);

        let core1, core2, core3, core4;

        core1 = {
            labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
            series: [
                [23, 29, 24, 40, 25, 24, 35, 12, 35]
            ]
        };

        core2 = {
            labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9 '],
            series: [
                [23, 29, 24, 40, 25, 24, 35, 12, 35]
            ]
        };

        core3 = {
            labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
            series: [
                [23, 29, 24, 40, 25, 24, 35, 12, 35]
            ]
        };

        core4 = {
            labels: ['1', '2', '3', '4', '5 ', '6', '7', '8', '9'],
            series: [
                [23, 29, 24, 40, 25, 24, 35, 12, 35]
            ]
        };

        new Chartist.Line("#cpu-core-1", core1,  options);
        new Chartist.Line("#cpu-core-2", core2,  options);
        new Chartist.Line("#cpu-core-3", core3,  options);
        new Chartist.Line("#cpu-core-4", core4,  options);
    })
