extends ../../layouts/layout.pug

block link
  -var selected = '/admin/cpu';

block content

  // MAIN CONTENT
  .main-content
    .container-fluid
      .panel.panel-headline
        .panel-heading
          h3.panel-title
            b CPU Utilization Information
        .panel-body
          .row
            .col-md-12
              .row
                .col-md-9
                  h4.heading
                    b Overall Utilization
                  #cpu-usage-chart.ct-chart
                .col-md-3
                  .weekly-summary.text-right.bottom
                    span#cpu-freq.number #{cpuCurrentspeed}
                    span.info-label Speed
                  .weekly-summary.text-right.bottom
                    span#cpu-percent.number 16%
                    span.info-label CPU Utilization
                  .weekly-summary.text-right.bottom
                    span#total-processors.number #{cpu.cores}
                    span.info-label Logical Processors
              .row
                .col-md-9
                  h4.heading
                    b Logical Processors
                  .row
                    .col-md-3
                      #cpu-core-1.ct-chart
                    .col-md-3
                      #cpu-core-2.ct-chart
                    .col-md-3
                      #cpu-core-3.ct-chart
                    .col-md-3
                      #cpu-core-4.ct-chart
block scripts
  script.
    $(function() {
        
    })
