extends ../../layouts/layout.pug

block link
  -var selected = '/admin/disk';

block content

  .main-content
    .container-fluid
      .panel.panel-headline
        .panel-heading
          h3.heading
            | Disk And I/O Statistic
        .panel-body
          .row
            .col-md-12
              .row
                .col-md-5
                  h4.heading
                    b I/O activities
                  #io-statistic.ct-chart
                .col-md-5
                  h4.heading
                    b Disk space usage
                  #disk-space.ct-chart-pie